
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-white" > W3<b>Tech</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
      <div class="navbar-nav">
        <a  class="nav-item nav-link">Home</a>
        <!-- <div class="nav-item dropdown">
          <a  class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">Services</a>
          <div class="dropdown-menu">
            <a  class="dropdown-item">Web Design</a>
            <a  class="dropdown-item">Web Development</a>
            <a  class="dropdown-item">Graphic Design</a>
            <a  class="dropdown-item">Digital Marketing</a>
                  </div>
              </div> -->
        <a  class="nav-item nav-link">FAQ</a>
        <a  class="nav-item nav-link ">How to</a>
        <a  class="nav-item nav-link">About Us</a>
        <a  class="nav-item nav-link">Contact us</a>
          </div>
      <div class="navbar-nav ml-auto">
        <div class="navbar-form-wrapper">

              </div>
        <a  class="nav-item nav-link"><i class="fa fa-facebook"></i></a>
        <a  class="nav-item nav-link"><i class="fa fa-twitter"></i></a>
        <a  class="nav-item nav-link"><i class="fa fa-google-plus"></i></a>
        <a  class="nav-item nav-link"><i class="fa fa-pinterest-p"></i></a>
          </div>
    </div>
  </nav>

  <!-- Navbar-2 -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5f5f5;">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse2" class="collapse navbar-collapse justify-content-start">
      <div class="navbar-nav" id="topics">
        <a  class="nav-item nav-link">HTML</a>
        <a  class="nav-item nav-link">CSS</a>
        <a  class="nav-item nav-link ">JavaScript</a>
        <a  class="nav-item nav-link">JQuery</a>
        <a  class="nav-item nav-link">Bootstrap 4/5</a>
        <a  class="nav-item nav-link">Angular 6+</a>
        <a  class="nav-item nav-link">PHP</a>
        <a  class="nav-item nav-link">Laravel</a>
        <a  class="nav-item nav-link">Java</a>
        <a  class="nav-item nav-link">MongoDB</a>
          </div>
    </div>
  </nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 pl-0" id="topics_Content">
      <ul>
        <h5 id="topic-heading">Basic HTML</h5>
        <li>HTML Home</li>
        <li>HTML Introduction</li>
        <li>HTML Elements</li>
        <li>HTML Attributes</li>
        <li>HTML Heading</li>
        <li>HTML Paragraph</li>
        <li>HTML Links</li>
        <li>HTML Text formatting</li>
        <li>HTML Styles</li>
        <li>HTML Image</li>
        <li>HTML Table </li>
        <li>HTML List</li>
        <li>HTML Form</li>
        <li>HTML iFrame</li>

      </ul>
    </div>
    <div class="col-lg-10">

    </div>

  </div>
</div>
